@use "variables/global";
@use "theme/light";
@use "theme/dark";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;

  font: inherit;
}

.app {
  min-height: 100vh;
  font: var(--font-p);
  color: var(--color-text);
  background: var(--color-background);
}

.content-page {
  display: flex;
}

.page-wrapper{
  flex-grow: 1;
  padding: 16px;
}
