.themeSwitcher {
  padding: 8px;
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
  outline: none;

  &:hover {
    transform: scale(1.1);
    background: transparent;
  }
}

.iconTheme {
  width: 52px;
  height: 52px;
  transition: opacity 0.3s ease;
}