.wrapper {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--color-light-brown);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
