.app.dark,
.storybook.dark {
  // Main colors
  --color-primary: #d38b33;
  --color-secondary: #ef6843;
  --color-additional: #3f382d;
  --color-text: #e7cea4;
  --color-text-reverse: #261d1b;
  --color-link: #235ca3;
  --color-background: #15130f;

  // Additional colors
  --color-light-brown: #71472f;
  --color-brown: #b49370;
  --color-light-ohra: #ae6742;
  --color-ohra: #d79872;
  --color-grey: #8a7273;
  --color-warm-grey: #aba4ad;
}
