.app.light,
.storybook.light {
  // Main colors
  --color-primary: #d38b33;
  --color-secondary: #4a1a0d;
  --color-additional: #2a251e;
  --color-text: #261d1b;
  --color-text-reverse: #e7cea4;
  --color-link: #2c74cc;
  --color-background: #e7cea4;

  // Additional colors
  --color-light-brown: #b49370;
  --color-brown: #71472f;
  --color-light-ohra: #d79872;
  --color-ohra: #ae6742;
  --color-grey: #aba4ad;
  --color-warm-grey: #8a7273;
}
